annotated-types==0.7.0
asn1crypto==1.5.1
atpublic==5.0
certifi==2024.12.14
cffi @ file:///C:/b/abs_90yq4lmu83/croot/cffi_1726856448345/work
charset-normalizer==3.4.1
cloudpickle==2.2.1
cryptography @ file:///C:/b/abs_e2lzchf4i6/croot/cryptography_1732130411942/work
filelock==3.16.1
idna==3.10
numpy==2.2.1
packaging==24.2
pandas==2.2.3
platformdirs==4.3.6
protobuf==5.29.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.10.4
pydantic_core==2.27.2
PyJWT==2.10.1
pyOpenSSL==24.3.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
snowflake==1.0.2
snowflake-connector-python==3.12.4
snowflake-snowpark-python==1.26.0
snowflake._legacy==1.0.0
snowflake.core==1.0.2
sortedcontainers==2.4.0
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.3.0
